@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Example styles for custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(0, 0, 0, 0.1); /* track color thumb color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(6, 6, 27, 0.5); /* color of the thumb */
  border-radius: 4px; /* roundness of the thumb */
  border: 2px solid rgba(0, 0, 0, 0.1); /* border around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(1, 1, 7, 0.8); /* color of the thumb on hover */
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #05030c; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Color of the scrollbar thumb when hovered */
}
